*{
	margin:0;
	padding:0;
}


:root{
    --body-color:#efefef;
    /* --nav-color:#128612; */
    --nav-color:#1876f2;
    --bg-color:#fff;
}
body{
    
    color: #111;
    background: #f4f4f4;
    font-family: 'Roboto', sans-serif;

}
/* Dark-theme */
.dark-theme{
    --body-color:#0a0a0a;
    --nav-color:#000;
    --bg-color:#000;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:#4070f4;
    /* var(--nav-color) */
    padding: 5px 5%;
    position:sticky;
    top:0;
    z-index: 100;
}
.logo
{
    width: 160px;
    /* padding-left: 45px; */
    margin-right: 45px;
    color:#f4f4f4;
}

.nav-left,.nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li a{
    width: 28px;
    margin: 0 15px;
    color: #f6f4f4;
    /* CCCC */
}
.nav-right a{
    color: #f6f4f4;
    /* display: flex; */
}
.card-count
{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius:3rem;
    background-color: rgb(247, 247, 250);
    color:#fbb72c;
    margin-left: 5px;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-user-icon{
    margin-left: 30px;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #07f627;
    position: absolute;
    top: 0;
    right: 0;
}
.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
/* .user-profile span{
    font-size: 13px;
    color: #9a9a9a;
} */
.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    /* background: var(--bg-color); */
    background: rgba(12, 180, 236, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height: 450px;
}
.user-profile a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}

.settings-menu-inner{
    padding: 20px;
}
.settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
/* #dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    
}

#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #0a0a0a;
} */
/*CSS code for index.php, signup.php, admin.php*/

.form-control {
    min-height: 41px;
    box-shadow: none !important;
}
.form-control:focus {
    border-color: #aaa;
}
.form-control, .btn {        
    border-radius: 3px;
}
.form {
    margin: 0 auto;
    padding: 30px 0;
}

.form h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.form form {
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.form .form-group {
    margin-bottom: 20px;
    padding: 0 15px;
    color: #222;
}

.form label {
    font-weight: normal;
    font-size: 13px;
    padding-left: 5px;
    vertical-align: middle;
}


.form .btn {        
    font-size: 16px;
    font-weight: bold;
/*    background: #090077;*/
    border: none;
    margin-top: 20px;
    min-width: 140px;
}

.form .btn:hover, .form .btn:focus {
    background: #444;
    outline: none !important;
}

.form a {
    text-decoration: underline;
}

.form a:hover {
    text-decoration: none;
}
.form form a {
    color: #5cd3b4;
    text-decoration: none;
}	
.form form a:hover {
    text-decoration: underline;
}

.formerror {
    text-align: center;
    color: red;
}

.form .heading {
    margin: 0 auto 30px;
    text-align: center;
    
 
}

.form .heading i {
    font-size: 62px;
}

.form .top{
    
    margin-top: 25px;
}

.form .new{
    font-family: Helvetica;
    font-size: 22px;
    margin: 20px auto;
    font-weight: 700;
    color: darkolivegreen;
    text-align: center;}

.bottom-text{
    text-align: center;
    font-size: 90%;
    margin: 50px;
}

/* CSS for read.php */

.read-card{
    margin: 20px auto;
}

.post-time{
    
    font-size: 90%;
    color: dimgrey;
    margin-bottom: 10px;
    
}

.new-post{
    
    height: 20px;
    width: 40px;
    border-radius: 15px;
    color: white;
    background-color: red;
    text-align: center;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    padding: 3px;

}

#postlogout{
    text-align: center;  
    font-size: 90%;
    margin-bottom: 20px;
}

#postlogout a{
    color: #5eacdd;
    text-decoration: none;
}

/*Logout Page*/

.logoutsuccess{
    color: dimgrey;
    text-align: center;
    font-size: 95%;
}


/* CSS code for message page */

#container{
	/* background:#222; */
	margin: 50px auto;
	overflow:auto;
	width:90%;
	min-height:630px;
    border-radius: 5px;
}

#container h1{
    font-size: 25px;
    padding: 18px 0 0 5%;
    margin: 0;
    color: #fff;
    font-weight: bold;
}

#inputtitle{
	width:90%;
	min-height:50px;
	margin:auto;
	padding:0;
}

#txttitle{
    width: 100%;
    font-size: 20px;
    margin: 20px 0 5px 0;
    height: 40px;
}

#message{
	width:90%;
	background:#f4f4f4;
	height:450px;
	margin:20px auto;
	overflow:auto;
}

#submit-section{
    width: 90%;
    min-height: 50px;
    margin: 12px auto;
    padding: 0;
}

#postsubmit {

    height: 40px;
    width: 100px;
    padding: 3px;
    float: right;
    font-size: 15px;
    font-weight: 600;
}

#postoptions {

    display: inline;
    height: 40px;
    margin: 0 15px 0 0;
    width: 150px;
    float: right;
    font-size: 15px;
    font-weight: 600;

}

.error{
	color:white;
    text-align: center;
    
}
.searchBar
{
    display: flex;
    background-color: #eee;
    /* position: sticky; */
    /* top: -10; */
}
.search-bar{
    background-color: #eee;
    width:95vw;
    height:5vh;
    text-align: center;
    color:rgb(18, 18, 18);
    border: none;
}
.glass:hover{
    color: rgb(0, 119, 255);
    cursor: pointer;
}
